{% extends "base.html" %}

{% block content %}
  <h1>{{ car.model }} {{ car.color }}</h1>
  <a class="btn btn-warning btn-sm" href="{% url "taxi:car-update" pk=car.id %}">UPDATE</a>
  <a class="btn btn-danger btn-sm" href="{% url "taxi:car-delete" pk=car.id %}">DELETE</a>
  <br>
  <br>
  <h4>Manufacturer:</h4>
  <hr>
  {{ car.manufacturer }}
  <br>
  <br>
  <h4>Drivers</h4>
  <hr>
  <ul>
  {% for driver in car.drivers.all %}
    <li>{{ driver.username }} ({{ driver.first_name }} {{ driver.last_name }})</li>
  {% endfor %}
  </ul>
{% endblock %}
