body {
    margin-top: 20px;
}

.add {
    position: absolute;
    font-size: 25px;
    width: 70px;
    right: 0;
    top: -8px;
    border-radius: 20px 0 0 20px;
    transition: .4s linear;
}

.add:hover {
  width: 140px;
}

